language: python
dist: focal
python:
- '3.7'
cache: pip
install:
- pip install -r requirements-tests.txt
- pip install -r requirements.txt
- pip install coveralls
script:
- python -m pytest --junitxml ./reports/results.xml --cov-config .coveragerc --cov=src
  .
after_success:
- coveralls
deploy:
  provider: pypi
  username: __token__
  password:
    secure: D4GWifPMb5DOhRnJbKt8IlQfjhA8AuiV1+YtHxzOUvFD02g8SRDc3cuTmGvgF3Rbv8GMpzztJrVeZrsgKu2IuxOowXdg7qYcKAFBtRVG5mRwXFPqUk/vb2AnmsUUl0aE7v9u/RLqmkAQTGxGlkdUnVO3ZShQVr4peDclexjCN7FcK1y4Gv86FwNZ4QGDQOoePKuvK/p+eaVj1VJmYxQvc4olQphQ/ZMAH7apRdWvX52/UaYeeqfDul+PsRjHCADjVJgLb/arV7aGzckTrG28zVOnsHyPodoDLibsOkj9QYFANfUhIlQcAkhzIDTa9lKM+vWCtzpBFTZbrn3bN1G4OTWThvDKY63hc2lmXzoIyM4wMojiv6pAvr7aVfGJsmsbolBtX37cScIzzSvMbaVzx3i5Cs1/JQW/JnE4B6qYG2xGd9Lbl3kRmSH8ZMxtcmdPZUZTFj82N03Nv0tFeLUwhUb7fjCAqQFt3Cda2fCfuQiq40qp0fs07wEStaA3tBU+0VK7xthcYi6nn3ap4bDNmZjBiOZ0rJudUoCeV02r18qVH/0ucwcwhKH4RHjJsSFCk4npWrXrhtLJ0D3VsO3KwLWqt8Xa09cVSl4ZWWYmumoqs4corwKcr6hvXGeUesee4xMEjtZGMMs9OT4Qrjh4SYGt+r1oTJaP5hdYzwS6x08=
  skip_existing: true
  distributions: sdist bdist_wheel
  on:
    tags: true
